#l{
    display: block;
    text-align: center;
    font-size: 5cm;
    font-family: 'Courier New', Courier, monospace;
}
#btn{
    text-align: center;
}
.b{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.b:hover{
    background-color: rgb(6, 2, 29);
}